html, body, #root, .App {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.page-container {
    width: 100%;
    height: 100%;   
}

p.form-error {
    color: red;
    margin: 0;
    margin-top: 10px;

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

p.form-worked-msg {
    color: black;
    margin-left: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.standard-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;

    opacity: 1;
    transition: opacity 0.15s;
}

.standard-button:hover {
    opacity: 0.85;
}