html, body, #root, .App {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.page-container {
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;   
    display: flex;
}

p.form-error {
    color: red;
    margin: 0;
    margin-top: 10px;

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

p.form-msg {
    color: black;
    margin: 0;
    margin-top: 10px;

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

p.form-worked-msg {
    color: black;
    margin-left: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.standard-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;

    opacity: 1;
    transition: opacity 0.15s;
}

.standard-button:hover {
    opacity: 0.85;
}

.unset-all {
    all: unset;
}

.standard-form-input, .standard-form input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    
}

.dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex
}

.content-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.standard-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.standard-form div, .standard-form-div {
    display: flex;
    align-items: center;
}

.standard-form div label, .standard-form-div label {
    width: 200px;
    text-align: left;
    font-weight: bold;
}

.standard-form button {
    width: auto;
    align-self: flex-start;
}

.bg-accent {
    background-color: #0056b3;
}

.color-light {
    color: white;
}