.home-lnav {
    width: 25%;

    min-width: 250px;
    max-width: 350px;
    height: 100%;

    border-right: 1px solid lightgrey;
}

.home-lnav button {
    margin: 15px;
    margin-bottom: 0;
}

.home-content {
    height: 100%;
    flex: 1;
    margin: 15px;
}

.course-details {
    padding: 10px;
    border-radius: 8px;
}

.course-details:hover {
    background-color: #f0f0f0;
}

.course-details h2 {
    margin: 0;
    color: #0056b3;
}

.course-details p {
    margin-top: 0;
}